# Ignore videos folder
# /videos/
/data-raw/

# Ignore source image folders
tidalTensorImages/
/tempImages/
/template/*
/pdf/
# Ignore LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/
/simulations/
/simulations/*.hdf5
scrapnotebooks/

demos/frames/
**scrap**

# Ignore macOS system files
.DS_Store

# Ignore Python compiled files
*.pyc
__pycache__/

/Template PhD PSL university (Paris Sciences et Lettres)_2/