# Ignore videos folder
videos/

# Ignore images folder
/images/

# Ignore LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

scrapnotebooks/

**scrap**

# Ignore macOS system files
.DS_Store

# Ignore Python compiled files
*.pyc
__pycache__/

/Template PhD PSL university (Paris Sciences et Lettres)_2/